body {
    
  padding-top:  50px;  /*@todo how to pick the bar automatically?*/

/*    max-width: 1080px;  /*old way for centering  */
/*  center the body */
/*    margin: 0 auto;  */

/* font-size: large; */
/* font-family: "Lucida Console", Monaco, monospace; */
/* font-family: "Courier New", Courier, monospace; */
/* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
/* font-family: Verdana, Geneva, sans-serif; */
/* font-family: "Trebuchet MS", Helvetica, sans-serif; */
/* font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; */

/*   background */
/*   background-color: #faebd7; */ /*alternative to image*/
/*   background: linear-gradient(to right, #faebd7, white); */
/*   background-image: url('./img/bg-gray.png'); */

}   
 


.intro-divider {
    width: 30%;
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


img.dozza {
     margin: 0 auto;  /*to center*/
/*      margin-left:   10px; */
/*      margin-right:  10px; */
     margin-top:    10px;
     margin-bottom: 10px;
     max-width: 100%;  /*this way images are responsive on mobile devices!*/
}


/* Landing page =================================== */

.my_landing {
/*    background: maroon url("http://www.math.ttu.edu/~gbornia/img/carol_of_lights.jpg") center center;*/  /*Questo e' un modo di scrivere diverse cose del background in modo compatto*/
/*    background-color: rgba(0, 0, 0, 0.7);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;*/
  color:       white;
/*   text-shadow: 0 1px 0 white, 0 0 5px white; */
/* text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; */
/*     background-size: cover; */ /*this would make it a landing page*/

}

.my_title {
 background-color: none; 
 color:       white;
   position: relative;
     text-shadow: 0 1px 0 black, 0 0 5px black;

}



/* card games page =================================== */
table.deck_table {
  margin-left: auto;
  margin-right: auto;
}

table.deck_table  td,th,tr {
  padding-left:   10px;
  padding-right:  10px;
  padding-top:     5px;
  padding-bottom:  5px;
  border: 1px solid black;
}

.output { font-weight: bold; }           /* Calculated values in bold */

.bar_chart rect {
  fill: steelblue;
}

.bar_chart rect:hover { 
    fill: red;
}

.bar_chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}


/*.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}*/

/* ALTERNATIVE 1: bar chart as a bunch of <div> elements */
/* .bar_chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white; 
} this was for the div element */


/* ALTERNATIVE 2:  bar chart as a bunch of <li> elements */
/* #histogram */
/* { */
/*    position:absolute;	 */
/*    list-style:none; */
/*    background:lightblue; */
/*    width:400px;   */
/*    height:250px; */
/*    text-align:center; */
/*    border:1px solid black; */
/*    visibility: hidden; */
/*    background-image:url(bar-shaded.png); */
/*    background-repeat:repeat-y; */
/* } */

/* END CARD GAMES PAGE =========================== */


/* PARALLAX CONTAINERS ====================================  */
.parallax_container3 {
/*     height: 100vh;  */
    background-color: rgba(0, 0, 0, 0.3); /*the last number sets the transparency*/
}

.parallax_container {
    height: 100px;
}

.parallax_container2 {
    height: 10px;
}

.parallax_content {
    background-image: url("../img/ttu_tower.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ===================================================  */
/* ===================================================  */
/* ===================================================  */
/* padding: what is inside the border */
/* border */
/* margin: what is outside the border */
